@font-face {
    font-family: 'yakout';
    src: url('yakout-bold.eot');
    src: url('yakout-boldd41d.eot?#iefix') format('embedded-opentype'),url('yakout-bold.woff') format('woff'),url('yakout-bold.ttf') format('truetype'),url('yakout-bold.svg#yakout-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
